/*1. General styles*/
/*2. Header styles*/
/*3. Footer styles*/

/*1. General styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  text-align: center;
}

main {
  padding: 0 1rem;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 4rem;
  color: white;
  text-shadow:
    -2px 1px 1px black,
    2px 1px 1px black,
    1px -2px 1px black,
    1px 2px 1px black;
}

h4 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: 'Bungee', cursive;
}

p,
a {
  font-size: 1.2rem;
  font-family: 'Martian Mono', monospace;
}

a {
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 2px black solid;
}

a:hover {
  color: black;
  background-color: white;
  border: 2px black solid;
}

/*2. Header styles*/
header {
  height: auto;
  width: auto;
  background-image: url("resources/ingredientes/portobelo.grill.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;
  border-bottom: 2px black solid;
  line-height: 22rem;
}

/*3. Footer styles*/
#finalBurger {
  width: 30%;
}

footer {
  background-color: black;
  color: white;
  height: auto;
  line-height: 30px;
}

/*media queries*/
@media only screen and (min-width: 319px) and (max-width: 374px) {
  h1 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.1rem;
    line-height: 25px;
    margin: 30px auto 10px;
  }

  a {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.9rem;
  }

  header {
    height: 200px;
    line-height: 50px
  }

  footer {
    background-color: black;
    color: white;
    line-height: 20px;
  }

  footer p {
    font-size: 0.6rem;
  }

}

@media only screen and (min-width: 375px) and (max-width: 424px) {

  header {
    height: 200px;
    line-height: 50px;
    padding-top: 50px;
  }

  h1 {
    font-size: 2rem;
  }

  footer {
    line-height: 20px;
  }

  footer p {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  header {
    height: 250px;
    line-height: 110px;
    padding-top: 50px;
  }

  h1 {
    font-size: 2rem;
  }

  footer p {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    height: 300px;
    line-height: 120px;
    padding-top: 50px;
  }

  h1 {
    font-size: 2.5rem;
  }

  footer p {
    font-size: 0.9rem;
  }
}