/*1. General styles*/
/*2. Nav styles*/
/*3. Header styles*/
/*4. Ingredientes styles*/
/*5. Menú styles*/
/*6. Pedido styles*/
/*7. Footer styles*/
/*8. Media queries*/

/*1. General styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Martian Mono', monospace;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-family: 'Bungee', cursive;
}

h2 {
  font-size: 2.2rem;
  font-family: 'Bungee', cursive;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Bungee', cursive;
  text-decoration: underline;
  text-decoration-color: gray;
  text-decoration-thickness: 4px;
}

h4 {
  font-size: 1.2rem;
  font-family: 'Bungee', cursive;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Bungee', cursive;
}

/*2. Nav styles*/

nav {
  position: sticky;
  top: 0;
}

nav ul {
  background-color: white;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: auto;
  height: 60px;
  list-style-type: none;
}

nav img {
  width: 50px;
  height: auto;
}

#redes {
  display: flex;
  line-height: 1rem;
  /*esta línea centra, al final, todos los elementos en el nav*/
}

#redes img {
  padding: 5px;
}

/*3. Header styles*/
header {
  height: 750px;
  width: auto;
  background-image: url("resources/Hamburguesas/TheSpruce_Diana Chistruga.portobelloBurger.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;
  margin-bottom: 150px;
}

/*4. Ingredientes styles*/
#ingredientes {
  width: 800px;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(2, 400px);
  margin: 50px auto;
  align-items: center;
  border: 2px black solid;
  text-align: center;
}

#ingredientes p {
  margin: auto 20px;
}

.imgIngrediente {
  width: 350px;
  height: 350px;
  margin: 25px auto;
}

#elementoGrid1 {
  grid-area: 1/1/2/2;
}

#elementoGrid2 {
  grid-area: 1/2/2/3;
}

#elementoGrid3 {
  grid-area: 2/2/3/3;
}

#elementoGrid4 {
  grid-area: 2/1/3/2;
}

#elementoGrid5 {
  grid-area: 3/1/4/2;
}

#elementoGrid6 {
  grid-area: 3/2/4/3;
}

#elementoGrid7 {
  grid-area: 4/2/5/3;
}

#elementoGrid8 {
  grid-area: 4/1/5/2;
}

#elementoGrid9 {
  grid-area: 5/1/6/2;
}

#elementoGrid10 {
  grid-area: 5/2/6/3;
}

#elementoGrid11 {
  grid-area: 6/2/7/3;
}

#elementoGrid12 {
  grid-area: 6/1/7/2;
}

#elementoGrid13 {
  grid-area: 7/1/8/2;
}

#elementoGrid14 {
  grid-area: 7/2/8/3;
}

#elementoGrid15 {
  grid-area: 8/2/9/3;
}

#elementoGrid16 {
  grid-area: 8/1/9/2;
}

/*5. Menú styles*/
.imgBurger {
  width: 450px;
  height: auto;
  margin: 25px auto;
}

#acompañamientos {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  align-items: center;
  margin: 50px auto;
}

.imgAcompañamiento {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

#menu #beers {
  margin: 50px auto;
}

#beers {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 300px);
  text-align: center;
  width: 650px;
  align-items: center;
}

#beers #superGose {
  grid-area: 1/1/2/2;
}

#beers #midnigth {
  grid-area: 2/1/3/2;
}

.imgBeer {
  width: 200px;
  height: auto;
}

#bebidas {
  width: 100%;
  display: flex;
  align-content:center;
  justify-content: space-around;
}

.imgBebida {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#menu {
  margin-bottom: 40px;
}

/*6. Pedido styles*/
#imgPrePedido {
  height: 100px;
  margin-bottom: 40px;
}

#ordenFinal {
  border: 2px black solid;
  height: 300px;
  width: 400px;
   margin: 0 auto;
}

form {
 margin: 0 auto 100px;
 }

/*7. Footer styles*/
footer {
  background-color: black;
  color: white;
  height: 30px;
  line-height: 30px;
}

/*8. Media queries*/